.category {
    padding-top: 60px;


    &__title {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 2em;
        color: #151515;
    }


    &-params {
        display: flex;
        justify-content: end;
        margin-top: 14px;

        &__view-button {
            border: none;
            background: #FFFFFF;
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 0.75em;
            cursor: pointer;
            margin-right: 24px;
            color: #A9A9A9;
        }

        &__amount {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 0.75em;
            color: #A9A9A9;

            span {
                padding: 0px 8px;
                background: #F4F8EC;
                border-radius: 12px;            
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 1em;
                color: #6A983C;
            }
        }
    }


    &-main {
        margin-top: 35px;
    }
}
.view--active {
    color: #151515;
}



.side {
    &-item {
        margin-bottom: 48px;

        &__title {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 1.125em;
            color: #151515;
            margin-bottom: 12px;
        }
        &__list {
            &-item {
                display: flex;
                align-items: center;
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 0.875em;
                color: #151515;
                margin-top: 8px;

                &--categories {
                    justify-content: space-between;
                    margin-top: 4px;
                }
                span {
                    padding: 0px 8px;
                    background: #F4F8EC;
                    border-radius: 12px;
                    font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 0.75em;
                    color: #6A983C;
                }

                &__input {
                    appearance: none;
                    position: absolute;
                }
                &__label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;                    
                        border: 1.5px solid #D1D1D1;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    &::after {
                        content: '';
                        width: 24px;
                        height: 24px;  
                        background: url(../../../assets/svg/ic-actions-multi-success.svg) no-repeat;
                        background-size: 24px 24px;
                        position: absolute;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
.side-item__list-item__input:checked + .side-item__list-item__label::after {
    opacity: 1;
}



.price {
    margin-bottom: 400px;
    &-slider {
        position: relative;
        margin-top: 20px;
        height: 6px;

        &__toddler {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #FFFFFF;
            border: 1px solid #D1D1D1;
            border-radius: 16px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            top: -7px;
        }
        &__range {
            width: 100%;
            height: 6px;
            background: #EBEBEB;
            border-radius: 12px;
        }
    }

    
    &-label {
        display: inline-block;
        margin-top: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #151515;
    }
    &-input {
        display: block;
        width: 109px;
        height: 42px;
        background: #F9F9F9;
        border: 1px solid #D1D1D1;
        border-radius: 12px;
        padding-left: 21px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #A9A9A9;
    }
    &-line {
        display: inline-block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #A9A9A9;
        margin-left: 7%;
        margin-right: 7%;
    }

    &-button {
        &--apply {
            margin-top: 31px;
            margin-right: 34px;
            display: inline-block;
            align-items: center;
            padding: 8px 16px;
            background: #6A983C;
            border: 2px solid #46760A;
            border-radius: 12px;
            cursor: pointer;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            color: #FFFFFF;
            transition: all 300ms ease;

            &:hover {
                color: #A9A9A9;
                background: #FFFFFF;
                border: 2px solid #A9A9A9;
            }
        }
        &--reset {
            display: inline-block;
            padding: 6px 12px;
            background: #FFFFFF;
            border-radius: 12px;
            cursor: pointer;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            color: #A9A9A9;
            transition: all 300ms ease;

            &:hover {
                color: #131313;
            }
        }
    }
}
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.noUi {
    &-target {
        height: 6px;
    }
    &-connects {
        height: 6px;
        background: #EBEBEB;
        border-radius: 12px;
    }
    &-connect {
        height: 6px;
        border-radius: 12px;
        background: #6A983C;
    }
    &-handle {
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:before, &:after {
            height: 0px;
            width: 0px;
        }
    }
}
.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -7px;
    top: -6px;
}



// .previos {
    
// }
// .previos .disabled {
//     color: #A9A9A9;
// }
.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-right: 45px;

    &__link {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #151515;
        margin-left: 8px;
        
        &--active {
            color: #A9A9A9;
        }
    }

    &__prev {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #151515;
    }

    &__next {
        margin: auto;
        width: 214px;
        height: 47px;
        background: #6A983C;
        border: 2px solid #46760A;
        border-radius: 12px;
        transition: all 200ms ease;
        cursor: pointer;
        text-align: center;
        padding: 10px;

        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            color: #FFFFFF;
            
        }

        &:hover {
            a {
                color: #A9A9A9;
            }
            background: #FFFFFF;
            border: 2px solid #A9A9A9;
        }
    }
    &__disabled {
        cursor: none;
        a {
            color: #A9A9A9;
        }
        background: #FFFFFF;
        pointer-events: none;
    }
}