.product-item {
    background: #FFFFFF;    
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
    
    &--grid {
        min-height: 332px;
        padding: 16px;
    }
    &--list {
        min-height: 280px;
    }

    &__discount {
        position: absolute;
        z-index: 100;
        top: 26px;
        left: 28px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 0.75em;
        color: #6A983C;
        background: #F4F8EC;
        border-radius: 12px;
        padding: 0px 8px;
    }
    &__img {
        max-width: 236px;
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        img {
            max-width: none;
            min-width: auto;
            min-height: auto;
            height: 100%;
            position: absolute;
        }
    }
    &__title {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1em;
        color: #151515;
        margin-top: 16px;
    }
    &__description {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 0.75em;
        color: #575757;
    }

    &-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        &__price {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 1.15em;
            color: #151515;

            &--without-discount {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 0.75em;
                text-decoration-line: line-through;
                color: #A9A9A9;
            }
        }
        &__button {
            min-height: 36px;
            background: #F9F9F9;
            border: 2px solid #151515;
            color: #151515;
            border-radius: 12px;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 0.95em;
            padding-left: 12px;
            padding-right: 12px;
            white-space: nowrap;
            cursor: pointer;
            transition: all 200ms ease-in-out;

            &:hover {
                background: #151515;
                color: #F9F9F9;
            }
        }
    }
}

.product-item--list {
    .product-item {
        display: none;
        margin-left: 50px;

        &__discount {
            top: 16px;
            left: 16px;
        }
        &__title {
            font-size: 1.14em;
        }
        &-price {
            &__info {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 0.75em;
                color: #A9A9A9;
    
                div {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 0.75em;
                    color: #A9A9A9;
                }
            }
        }
    }
}